body {
  background: url('../images/noise.png'), -moz-radial-gradient(center 260px 0deg, circle closest-side, #888 0%, #222 100%) no-repeat;
  background: url('../images/noise.png'), -o-radial-gradient(center 260px 0deg, circle closest-side, #888 0%, #222 100%) no-repeat;
  background: url('../images/noise.png'), -webkit-gradient(radial, center 250, 0, center 250, 300, from(#888), to(#222)) no-repeat;
  background: url('../images/noise.png'), radial-gradient(circle closest-side at center 260px 0deg, #888 0%, #222 100%) no-repeat;
  background-color: #222;
}

h1 {
  font-family: 'Just Me Again Down Here', arial, serif;
  font-size: 6em;
  font-weight: normal;
  margin: 12px 0px 30px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 1px #000;
}

h2 {
  color: #FFF;
  font-family: 'Raleway', arial, serif;
  font-weight: bold;
  text-shadow: 0px -1px 1px #000;
}

p {
  font-family: 'Raleway', arial, serif;
  color: #666;
  font-size: 1.25em;
  line-height: 1.2em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  -webkit-column-rule: 1px solid #333;
  -moz-column-rule: 1px solid #333;
  column-count: 2;
  column-gap: 80px;
  column-rule: 1px solid #333;
}

#stage {
  background: #DDD;
  height: 320px;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 5px #000;
  -moz-box-shadow: inset 0px 0px 5px #000;
  box-shadow: inset 0px 0px 5px #000;
  border-radius: 20px;
  list-style: none;
  position: relative;
  -webkit-user-select: none;
}

#stage > img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#stage .placeholder {
  float: left;
  width: 210px;
  height: 160px;
  margin: 12px;
}

#stage .photo {
  width: 90px;
  height: 90px;
  position: relative;
  left: 40px;
  background: #FFF;
  border: 10px solid #FFF;
}

#stage .photo:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  cursor: pointer;
}

#stage .large_photo {
  width: 114px;
  height: 114px;
  z-index: 1000;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border: 15px solid #FFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 30px rgba(0,0,0,1);
  box-shadow: 0px 0px 30px rgba(0,0,0,1);
  cursor: pointer;
}