body {
  background: url('../images/noise.png'), -moz-radial-gradient(center 260px 0deg, circle closest-side, #888 0%, #222 100%) no-repeat;
  background: url('../images/noise.png'), -webkit-gradient(radial, center 250, 0, center 250, 300, from(#888), to(#222)) no-repeat;
  background-color: #222;
}

h1 {
  font-family: 'Just Me Again Down Here', arial, serif;
  font-size: 6em;
  font-weight: normal;
  margin: 12px 0px 30px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 1px #000;
}

h2 {
  color: #FFF;
  font-family: 'Raleway', arial, serif;
  font-weight: bold;
  text-shadow: 0px -1px 1px #000;
}

p {
  font-family: 'Raleway', arial, serif;
  color: #666;
  font-size: 1.25em;
  line-height: 1.2em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-gap: 80px;
  -moz-column-gap: 80px;
  -webkit-column-rule: 1px solid #333;
  -moz-column-rule: 1px solid #333;
}